<!DOCTYPE html>
<html>
  <head>
    <title>Quantum DS</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <style>
      #banner {
        object-fit: cover;
        width: 100%;
        height: 370px;
        margin-bottom: 16px
      }
    </style>
  </head>
  <body>
    {% include 'nav.html' %}
    <img class="img-fluid" id='banner' src="static/banner.jpg" alt='Do something great banner' height=320px>
    <h1 class="text-center mt-2 mb-4"">{{company_name}} DS</h1>
    <div class='container'>
    <p class='lead'>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias ea explicabo quis porro reiciendis excepturi eos deleniti repellendus, unde ullam possimus, dolore dicta, debitis inventore autem obcaecati voluptatem corporis modi?
    Modi soluta amet aperiam, quis quos temporibus numquam sit veritatis a adipisci ex repellendus unde expedita quae dolorum nisi! Repellendus ipsa, placeat autem facere quisquam ipsum sed hic sunt! Libero?
    Corrupti et officiis quaerat quasi veniam ullam illo atque tempore omnis facilis mollitia rerum iure modi placeat quam accusamus qui, fugiat, praesentium porro veritatis deserunt voluptates! Enim error similique iste.
    Id esse fugit iusto aliquam optio laborum dolores exercitationem in, est atque similique, a delectus quidem repellat dicta odit voluptate, tenetur omnis? Incidunt iusto dolor nisi deleniti, quod neque alias!
    Saepe quo esse facere quam consequuntur animi nam rem tenetur neque suscipit rerum placeat velit, aut, tempore temporibus voluptas reprehenderit enim laboriosam obcaecati excepturi eos officiis dolorum earum. Incidunt, quasi.</p>
    <h2 class="text-center mt-2 mb-4">Open Positions</h2>
    <div>
      {% for job in jobs %}
        {% include 'jobitem.html' %}
      {% endfor %}
    </div>
    </div>
    <div class='text-center'>
      <button class="btn btn-primary">Contact Us</button>
    </div>
    {% include 'footer.html' %}
  </body>
</html>